language: php

php:
  - 7.1
  - 7.2

sudo: false

install:
- travis_retry composer install --no-interaction --prefer-source

script:
- ./vendor/bin/phpunit --coverage-clover build/logs/clover.xml
 
after_script:
- php vendor/bin/coveralls -v
